Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

check-terminology:
  name: Check for prohibited hierarchical terminology
  entry: .pre-commit-hooks/check-terminology.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-schema-changes:
  name: Check for database schema changes without migration
  entry: python .pre-commit-hooks/check-schema-changes.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

risk-freeze-check:
  name: üîí RISK FREEZE - Check for unauthorized risk parameter changes
  entry: python .pre-commit-hooks/risk-freeze-check.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Defer activation repairs until broker bootstrap
  bot/activation_pending_commit_monitor_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test deferred startup repair ordering
  bot/tests/test_activation_pending_startup_order.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Cover deferred broker startup repair in CI
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Compile deferred activation startup repair in image build
  Dockerfile
Due: none

Isolate deferred repair readiness test state
  bot/tests/test_activation_pending_startup_order.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Require exact process ownership before releasing writer lease
  bot/writer_lock_release_guard.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Isolate Docker health checks from trading startup hooks
  Dockerfile
Due: none

Test exact writer lease release ownership
  bot/tests/test_writer_lock_release_guard.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Validate isolated health checks and exact lease release
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Compact recursive import hook chains process-wide
  import_hook_recursion_shield_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test process-wide import hook recursion compactor
  bot/tests/test_import_hook_chain_compactor.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test import hook recursion compactor in deployment CI
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Throttle import chain compactor after startup burst
  import_hook_recursion_shield_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Isolate bootstrap money helpers from trading startup hooks
  scripts/production_bootstrap.sh
Due: none

Quiesce writer heartbeat before releasing Redis lease
  bot/writer_lock_release_guard.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test isolated production money normalization helpers
  bot/tests/test_production_bootstrap_money_helpers.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test heartbeat quiescence before writer lease release
  bot/tests/test_writer_release_heartbeat_quiesce.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test isolated money helpers and writer heartbeat quiescence
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Add definitive three-venue startup readiness verifier
  three_venue_execution_readiness.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install definitive three-venue readiness verifier
  source_runtime_guard_bootstrap.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test definitive three-venue readiness matrix
  bot/tests/test_three_venue_execution_readiness.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Run three-venue startup verifier tests
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Include three-venue verifier in Docker build context
  .dockerignore
Due: none

Harden Render three-venue bootstrap packaging
  Dockerfile
Due: none

Test three-venue verifier Docker packaging
  bot/tests/test_production_bootstrap_money_helpers.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Stabilize three-venue bootstrap regression assertions
  bot/tests/test_production_bootstrap_money_helpers.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Expose deployment safety test failures by component
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Fix Render three-venue bootstrap packaging
  .dockerignore
  .github/workflows/entrypoint-writer-authority-tests.yml
  Dockerfile
  bot/tests/test_production_bootstrap_money_helpers.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Remove fragile Docker-time bootstrap rewrite
  Dockerfile
Due: none

Test deterministic bootstrap validation
  bot/tests/test_production_bootstrap_money_helpers.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Repair Daivon user configuration JSON
  config/users/daivon_frazier.json
Due: risk-freeze-check

Repair Tania user configuration JSON
  config/users/tania_gilbert.json
Due: risk-freeze-check

Fix Render bootstrap and required user configs
  Dockerfile
  bot/tests/test_production_bootstrap_money_helpers.py
  config/users/daivon_frazier.json
  config/users/tania_gilbert.json
Due: check-terminology, check-schema-changes, risk-freeze-check

Make broker startup configuration independent
  scripts/three_venue_config_check.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Enforce broker-independent readiness and execution
  secondary_venue_strict_readiness_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test independent broker readiness behavior
  bot/tests/test_secondary_venue_strict_readiness_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add account-local held-position exit recovery
  account_exit_management_recovery_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test account-local held-position exit recovery
  bot/tests/test_account_exit_management_recovery_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install account-local exit recovery during startup
  source_runtime_guard_bootstrap.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test startup installation of account exit recovery
  bot/tests/test_source_runtime_guard_bootstrap.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$
