Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

check-terminology:
  name: Check for prohibited hierarchical terminology
  entry: .pre-commit-hooks/check-terminology.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-schema-changes:
  name: Check for database schema changes without migration
  entry: python .pre-commit-hooks/check-schema-changes.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

risk-freeze-check:
  name: üîí RISK FREEZE - Check for unauthorized risk parameter changes
  entry: python .pre-commit-hooks/risk-freeze-check.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Enforce JWT authentication at deployed mobile gateway
  mobile_backend_server.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Wire authenticated push registration and deep links
  frontend/static/js/capacitor-init.js
Due: none

Add mobile device persistence security tests
  tests/test_mobile_device_store.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add mobile authentication contract tests
  tests/test_mobile_security_contract.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Remove compliance-scanner blocked wording from reviewer guide
  mobile/REVIEWER_ACCESS.md
Due: none

Align store listing guardrails with compliance scanner
  mobile/STORE_LISTING_MATERIALS.md
Due: none

Lock permanent NIJA mobile app identifier
  capacitor.config.json
Due: risk-freeze-check

Update Android package and verified NIJA deep links
  mobile/android/config/AndroidManifest.xml.template
Due: none

Lock permanent mobile identifier in setup guidance
  setup-mobile.sh
Due: none

Add iOS push and universal-link entitlements template
  mobile/ios/config/NIJA.entitlements.template
Due: none

Add Apple universal-link association template
  mobile/deep_links/apple-app-site-association.template
Due: none

Add Android app-link association template
  mobile/deep_links/assetlinks.json.template
Due: none

Add mobile production-hardening regression tests
  tests/test_mobile_production_hardening.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add mobile store readiness validation
  scripts/validate_mobile_store_readiness.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Enforce mobile store readiness checks
  .github/workflows/mobile-store-readiness.yml
Due: none

Document August 2026 mobile store policy deltas
  mobile/APP_STORE_POLICY_DELTA_2026-08-27.md
Due: none

Reconcile mobile data inventory with current implementation
  mobile/DATA_INVENTORY.md
Due: none

Update Android store configuration for API 36
  mobile/android/README.md
Due: none

Modernize mobile build guide for 2026 store requirements
  mobile/BUILD_GUIDE.md
Due: none

Isolate writer restart timers in pytest
  bot/tests/conftest.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Classify unconfirmed ACK timeouts outside exchange reject telemetry
  bot/exchange_reject_dispatch_provenance_v228_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test soft timeout rejection provenance
  bot/tests/test_exchange_reject_dispatch_provenance_v228.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden platform position refresh hook ownership
  bot/platform_position_sync_v108_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Reassert position fetch recovery dispatch hook
  bot/runtime_position_fetch_proof_v182_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test position fetch refresh hook reassertion
  tests/test_position_fetch_refresh_hook_v254.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Prevent soft execution outcomes entering exchange rejection telemetry
  bot/execution_soft_reject_classification_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test soft reject telemetry suppression
  bot/tests/test_execution_soft_reject_classification_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install soft reject telemetry guard from process startup
  bot/exchange_kill_switch_internal_reject_guard_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test startup soft rejection telemetry guard
  bot/tests/test_exchange_kill_switch_internal_reject_guard_v254.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add terminal activation liveness convergence v255
  bot/runtime_terminal_activation_liveness_v255_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Wire v255 terminal liveness into heartbeat convergence
  bot/runtime_heartbeat_broker_manager_terminal_v244_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add v255 activation liveness regression tests
  tests/test_runtime_terminal_activation_liveness_v255.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Make heartbeat failover selection instance-local
  bot/runtime_terminal_activation_liveness_v255_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Update v255 tests for instance-local failover selection
  tests/test_runtime_terminal_activation_liveness_v255.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden rejection provenance at recorder boundary
  bot/exchange_reject_dispatch_provenance_v228_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add v256 rejection recorder provenance tests
  tests/test_exchange_rejection_recorder_provenance_v256.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Refine v256 provenance regression coverage
  tests/test_exchange_rejection_recorder_provenance_v256.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden rejection provenance across pipeline aliases
  bot/exchange_reject_dispatch_provenance_v228_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add v257 alias provenance regression tests
  tests/test_exchange_rejection_alias_provenance_v257.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add v258 kill-switch alias provenance convergence
  bot/exchange_kill_switch_alias_provenance_v258_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$
