Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

check-terminology:
  name: Check for prohibited hierarchical terminology
  entry: .pre-commit-hooks/check-terminology.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-schema-changes:
  name: Check for database schema changes without migration
  entry: python .pre-commit-hooks/check-schema-changes.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

risk-freeze-check:
  name: üîí RISK FREEZE - Check for unauthorized risk parameter changes
  entry: python .pre-commit-hooks/risk-freeze-check.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Harden v415 heartbeat guard across all emergency-stop surfaces
  bot/runtime_confirmed_fill_settlement_v415_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Extend v415 tests for runtime emergency-stop surface
  bot/tests/test_runtime_confirmed_fill_settlement_v415.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Honor deployment kill switch in canonical runtime
  bot/kill_switch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add deployment kill-switch regression coverage
  bot/tests/test_kill_switch_env_activation.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add sanitized Kraken OpenPositions diagnostics v410
  bot/runtime_kraken_openpositions_diagnostics_v410_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install sanitized OpenPositions diagnostics from v381
  bot/runtime_kraken_margin_pair_resolution_v381_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test redacted OpenPositions diagnostics v410
  bot/tests/test_runtime_kraken_openpositions_diagnostics_v410.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Wire redacted OpenPositions diagnostics into v366 startup patch
  scripts/apply_kraken_coverage_truth_fairness_v385.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test v410 startup diagnostic injection
  bot/tests/test_apply_kraken_coverage_truth_fairness_v385_v410.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix v404 wrapper compatibility with v409 refresh token
  bot/runtime_live_safety_convergence_v404_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

refactor: make broker strategy selection cell-local
  bot/broker_configs/strategy_selector.py
Due: check-terminology, check-schema-changes, risk-freeze-check

refactor: promote broker isolation registry to broker cells
  bot/broker_isolation_registry.py
Due: check-terminology, check-schema-changes, risk-freeze-check

refactor: give each broker account an independent strategy runtime
  bot/broker_isolation_registry.py
Due: check-terminology, check-schema-changes, risk-freeze-check

refactor: make startup gate broker-cell scoped and remove unrelated probes
  scripts/three_venue_config_check.py
Due: check-terminology, check-schema-changes, risk-freeze-check

cleanup: delete verified dead capital engine
  archive/dead_code_apr2026/advanced_capital_engine.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete verified dead APEX integration
  archive/dead_code_apr2026/apex_crash_resilient_integration.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete verified dead APEX example
  archive/dead_code_apr2026/apex_example.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded APEX live trader
  archive/dead_code_apr2026/apex_live_trading.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete duplicate dead capital throttle
  archive/dead_code_apr2026/automated_capital_throttle.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete orphaned capital registry
  archive/dead_code_apr2026/capital_domain_registry.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded capital protection layer
  archive/dead_code_apr2026/capital_protection_layer.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete dead capital scaling triggers
  archive/dead_code_apr2026/capital_scaling_triggers.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete dead dynamic risk engine
  archive/dead_code_apr2026/dynamic_risk_engine.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete duplicate dead capital scaling
  archive/dead_code_apr2026/enhanced_capital_scaling.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete dead capital optimizer wrapper
  archive/dead_code_apr2026/integrated_capital_optimizer.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded dead APEX v8
  archive/dead_code_apr2026/nija_apex_strategy_v8.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete dead optimized position sizer
  archive/dead_code_apr2026/optimized_position_sizer.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete verified dead portfolio risk tuner
  archive/dead_code_apr2026/portfolio_risk_tuner.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete unwired risk acknowledgement
  archive/dead_code_apr2026/risk_acknowledgement.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded risk freeze guard
  archive/dead_code_apr2026/risk_freeze_guard.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete unused risk parity engine
  archive/dead_code_apr2026/risk_parity_engine.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded small-capital manager
  archive/dead_code_apr2026/small_capital_manager.py
Due: check-schema-changes, risk-freeze-check

cleanup: delete superseded user capital isolation engine
  archive/dead_code_apr2026/user_capital_isolation_engine.py
Due: check-schema-changes, risk-freeze-check

cleanup: remove completed dead-code archive manifest
  archive/dead_code_apr2026/README.md
Due: none

test: prove broker cells cannot bleed state across venues or users
  bot/tests/test_broker_cell_isolation_v420.py
Due: check-terminology, check-schema-changes, risk-freeze-check

refactor: register connected users into broker cells
  bot/runtime_user_sharding_capacity_v410_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: preserve strategy selector compatibility API
  bot/broker_configs/strategy_selector.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: harden broker cell lifecycle and state isolation
  bot/broker_isolation_registry.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: keep broker failures and capital authority venue-local
  bot/broker_failure_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

test: cover lifecycle, immutable views, and isolated capital
  bot/tests/test_broker_cell_isolation_v420.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$
