Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

check-terminology:
  name: Check for prohibited hierarchical terminology
  entry: .pre-commit-hooks/check-terminology.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-schema-changes:
  name: Check for database schema changes without migration
  entry: python .pre-commit-hooks/check-schema-changes.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

risk-freeze-check:
  name: üîí RISK FREEZE - Check for unauthorized risk parameter changes
  entry: python .pre-commit-hooks/risk-freeze-check.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: bind Kraken read-lock recovery to canonical broker manager
  bot/runtime_kraken_read_lock_recovery_v234_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: target Kraken health guard at canonical broker manager
  bot/runtime_kraken_local_contention_health_v237_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: bind Kraken contention instance guard to live manager
  bot/runtime_kraken_local_contention_instance_v242_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

test: cover canonical Kraken contention topology
  bot/tests/test_kraken_contention_topology_convergence.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix Kraken contention and nonce runtime truth
  bot/authority_heartbeat.py
  bot/broker_manager.py
  bot/runtime_kraken_local_contention_alias_v241_patch.py
  bot/runtime_kraken_local_contention_health_v237_patch.py
  bot/runtime_kraken_local_contention_instance_v242_patch.py
  bot/runtime_kraken_read_lock_recovery_v234_patch.py
  bot/tests/test_kraken_contention_canonical_topology_v245.py
  bot/tests/test_kraken_local_contention_v243.py
  bot/tests/test_live_pending_to_live_active_regression.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Route heartbeat through canonical ready venue
  bot/nija_core_loop.py
  bot/tests/test_heartbeat_market_discovery.py
  bot/trading_strategy.py
  three_venue_execution_readiness.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix heartbeat proof bootstrap deadlock
  bot/tests/test_heartbeat_marker_bootstrap_circuit_breaker.py
  bot/tests/test_heartbeat_market_discovery_bound_v208.py
  bot/trading_state_machine.py
  bot/trading_strategy.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Preserve valid position proof during in-flight refresh
  bot/position_sync_failure_truth_v98_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test position proof liveness across refreshes
  tests/test_position_sync_failure_truth_v98_liveness.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Propagate verified execution context across pipeline worker
  bot/runtime_execution_context_handoff_v246_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install pipeline context handoff with heartbeat terminal
  bot/runtime_heartbeat_broker_manager_terminal_v244_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test pipeline execution context handoff
  tests/test_runtime_execution_context_handoff_v246.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix startup lifecycle rejection provenance
  bot/exchange_reject_dispatch_provenance_v228_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test startup lifecycle rejection provenance
  bot/tests/test_exchange_reject_dispatch_provenance_v228.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install rejection provenance before heartbeat worker
  bot/runtime_execution_context_handoff_v246_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test early rejection provenance ordering
  tests/test_runtime_execution_context_handoff_v246.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install rejection provenance before early startup repairs
  bot/strict_live_startup_sanitizer.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test earliest rejection provenance ordering
  tests/test_earliest_rejection_provenance_v249.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Require synthetic rejection guard before downstream startup repairs
  bot/strict_live_startup_sanitizer.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test v224 earliest synthetic rejection barrier
  tests/test_earliest_rejection_provenance_v249.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add canonical Track A app store readiness plan
  mobile/APP_STORE_TRACK_A_READINESS.md
Due: none

Add mobile data inventory
  mobile/DATA_INVENTORY.md
Due: none

Add account deletion requirements and public instructions
  mobile/ACCOUNT_DELETION.md
Due: none

Add app reviewer access package
  mobile/REVIEWER_ACCESS.md
Due: none

Add Apple and Google store listing materials
  mobile/STORE_LISTING_MATERIALS.md
Due: none

Implement authenticated account deletion API
  account_deletion_api.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Register account deletion API in mobile backend
  mobile_backend_server.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add in-app account deletion flow
  frontend/static/js/capacitor-init.js
Due: none

Add Apple and Google privacy disclosure worksheet
  mobile/STORE_PRIVACY_DISCLOSURES.md
Due: none

Add safe reviewer account provisioning helper
  scripts/provision_store_review_account.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Replace mobile privacy policy with fact-based counsel review draft
  mobile/PRIVACY_POLICY.md
Due: none

Apply NIJA black-and-gold native shell colors
  capacitor.config.json
Due: risk-freeze-check

Add mobile counsel review packet
  mobile/COUNSEL_REVIEW_PACKET.md
Due: none

Enforce canonical proof on activation snapshot fallback
  bot/runtime_activation_snapshot_proof_truth_v251_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test canonical proof guard for activation snapshot fallback
  tests/test_activation_snapshot_proof_truth_v251.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Install activation snapshot proof truth guard during strict startup
  bot/strict_live_startup_sanitizer.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add encrypted persistent mobile device store
  mobile_device_store.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden mobile API authentication and device persistence
  mobile_api.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add pluggable push notification architecture
  push_notifications.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Complete account deletion across NIJA mobile stores
  account_deletion_api.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$
