Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$

modified: bot.py
  bot.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: railway.json
  railway.json
Due: risk-freeze-check

modified: bot/position-manager.py
  bot/broker_circuit_breaker.py
  bot/exchange_constraints_enforcer.py
  bot/execution_engine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix order rejection and bootstrap gating
  bot/capital_flow_state_machine.py
  bot/execution_pipeline.py
  bot/nija_core_loop.py
  bot/tests/test_bootstrap_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Enforce bootstrap lock-first ordering and hydration gating; add CAPABILITY_VERIFIED phase and startup race guards
  bot.py
  bot/bootstrap_state_machine.py
  bot/multi_account_broker_manager.py
  bot/tests/test_bootstrap_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden bootstrap hydration with lock-aware gating and retry diagnostics
  bot/multi_account_broker_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix real capital test env loading and CapitalAuthority feed order
  real_capital_test.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Improve account status reporting and harden position tracker imports
  bot/broker_manager.py
  scripts/check_trading_status.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Ignore account-scoped Kraken nonce runtime state files
  .gitignore
Due: none

modified: bot/multi_account_broker_manager.py
  bot/multi_account_broker_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix BootstrapContract race + harden broker imports and status reporting
  bot/multi_account_broker_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: Resolve environment variable validation and Redis URL configuration issues
  start.sh
Due: none

new file: git fetch origin
  git fetch origin
Due: none

modified: bot/borker_manager.py
  bot.py
  bot/broker_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/capital_csm_v2.py modified: bot/execution_authority_context.py modified: bot/redis_env.py modified: bot/startup_diagnostics.py modified: bot/trading_strategy.py
  bot/capital_csm_v2.py
  bot/execution_authority_context.py
  bot/redis_env.py
  bot/startup_diagnostics.py
  bot/trading_strategy.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add entrypoint syntax preflight guards
  Dockerfile
  start.sh
Due: none

modified: bot.py
  bot.py
  bot/redis_env.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py modified: bot/redis_env.py modified: scripts/redis_connectivity_check.sh modified: start.sh
  bot.py
  bot/redis_env.py
  scripts/redis_connectivity_check.sh
  start.sh
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: start.sh
  start.sh
Due: none

Align startup env diagnostics for Redis and Coinbase
  bot.py
  bot/startup_validation.py
  start.sh
  validate_all_env_vars.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/broker_manager.py
  bot/broker_manager.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: validate_all_env_vars.py
  validate_all_env_vars.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py modified: bot/trading_state_machine.py
  bot.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/trading_strategy.by
  bot/trading_strategy.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/trading_strategy.py modified: bot/nija_core_loop.py
  bot/nija_core_loop.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/ trading_strategy.py
  bot/trading_strategy.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/trading_state_machine.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add FUNDING.yml for sponsorship options
  .github/FUNDING.yml
Due: none

Lower APEX ADX threshold to 1.5 and reduce ApexTrendStrategy min_confirmations to 2; include parameter sweep support
  bot/apex_config.py
  bot/strategies/apex_strategy.py
  scripts/parameter_sweep.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/ai_entry_gate.py
  bot/ai_entry_gate.py
Due: check-terminology, check-schema-changes, risk-freeze-check

new file: data/nija.pid
  data/nija.pid
Due: none

Add bootstrap diagnostic tool to debug phase gate stuck state
  BOOTSTRAP_DIAGNOSTIC.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add comprehensive bootstrap fix guide with step-by-step instructions
  BOOTSTRAP_FIX_GUIDE.md
Due: none
