Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

check-terminology:
  name: Check for prohibited hierarchical terminology
  entry: .pre-commit-hooks/check-terminology.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-schema-changes:
  name: Check for database schema changes without migration
  entry: python .pre-commit-hooks/check-schema-changes.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

risk-freeze-check:
  name: üîí RISK FREEZE - Check for unauthorized risk parameter changes
  entry: python .pre-commit-hooks/risk-freeze-check.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Add startup capital control regression tests
  bot/tests/test_post_lock_capital_refresh_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix live-capital startup convergence and repeated patch noise
  bot/post_lock_capital_refresh_patch.py
  bot/tests/test_post_lock_capital_refresh_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add production bootstrap for provenance and guard normalization
  scripts/production_bootstrap.sh
Due: none

Harden build-time Git metadata resolution
  inject_git_metadata.sh
Due: none

Wire production bootstrap into Docker startup
  Dockerfile
Due: none

Include production bootstrap in Docker context
  .dockerignore
Due: none

Align Railway startup and micro-cap trading guards
  railway.json
Due: risk-freeze-check

Persist resolved runtime metadata before start.sh
  scripts/production_bootstrap.sh
Due: none

Normalize unknown build timestamp in production bootstrap
  scripts/production_bootstrap.sh
Due: none

Fix Railway live startup provenance and trading guards
  .dockerignore
  Dockerfile
  inject_git_metadata.sh
  railway.json
  scripts/production_bootstrap.sh
Due: risk-freeze-check

Resolve Render deployment metadata before live startup
  scripts/production_bootstrap.sh
Due: none

Prefer Render metadata during Docker builds
  inject_git_metadata.sh
Due: none

Expose Render build metadata to version injection
  Dockerfile
Due: none

Run NIJA through Render production bootstrap
  render.yaml
Due: none

Fix Render live startup metadata and deployment configuration
  Dockerfile
  inject_git_metadata.sh
  render.yaml
  scripts/production_bootstrap.sh
Due: none

Add fail-closed Render startup convergence repair
  bot/render_startup_convergence_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Reset stale runtime authority before Render startup
  scripts/production_bootstrap.sh
Due: none

Wire Render startup convergence repair into bot startup
  bot/__init__.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add Render startup convergence regression tests
  bot/tests/test_render_startup_convergence_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Configure bounded Render capital convergence recovery
  render.yaml
Due: none

Fix Render authority and capital startup convergence
  bot/__init__.py
  bot/render_startup_convergence_patch.py
  bot/tests/test_render_startup_convergence_patch.py
  render.yaml
  scripts/production_bootstrap.sh
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix false emergency-stop clear loop during fail-closed startup
  bot/operator_emergency_stop_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add regression coverage for fail-closed authority and install idempotence
  bot/tests/test_operator_emergency_stop_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix false emergency-stop clear loop
  bot/operator_emergency_stop_clear_patch.py
  bot/tests/test_operator_emergency_stop_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Guard pre-execution emergency clear probes
  bot/operator_emergency_stop_preexec_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test guarded pre-execution emergency clearing
  bot/tests/test_operator_emergency_stop_preexec_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Prevent pre-execution emergency-clear amplification
  bot/operator_emergency_stop_preexec_clear_patch.py
  bot/tests/test_operator_emergency_stop_preexec_clear_patch.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Prevent optional Grype upload from blocking deployment
  .github/workflows/artifact-scanning.yml
Due: none

Make zero-trust checks compatible with pull requests
  .github/workflows/zero-trust-ci.yml
Due: none

Fix checksPass deployment workflow contracts
  .github/workflows/artifact-scanning.yml
  .github/workflows/zero-trust-ci.yml
Due: none

Add canonical entrypoint writer authority runtime
  bot/entrypoint_writer_authority.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Implement canonical entrypoint writer authority runtime
  bot/entrypoint_writer_authority.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Acquire writer authority before nonce bootstrap
  bot/bot_main.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add entrypoint writer authority tests
  bot/tests/test_entrypoint_writer_authority.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Test writer authority ordering and safe lease ownership
  bot/tests/test_entrypoint_writer_authority.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add writer heartbeat ownership validation
  bot/tests/test_entrypoint_writer_heartbeat.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Correct heartbeat ownership assertion index
  bot/tests/test_entrypoint_writer_heartbeat.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Run focused entrypoint writer authority tests
  .github/workflows/entrypoint-writer-authority-tests.yml
Due: none

Validate writer authority before Kraken nonce startup
  .github/workflows/entrypoint-writer-authority-tests.yml
  bot/tests/test_entrypoint_writer_heartbeat.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Wire Render-managed Key Value into NIJA Redis
  render.yaml
Due: none

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$
