Repository dantelrharrell-debug/Nija: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-terminology, check-schema-changes, risk-freeze-check

Path conditions:
  check-terminology: any of: \.py$, but not: (?x)^(
  test_.*\.py$|
  diagnose_.*\.py$|
  archive/.*
)

  check-schema-changes: any of: \.py$
  risk-freeze-check: any of: \.py$|\.json$

modified: bot.py
  bot.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fail closed writer lock when unsafe bypass is set in multi-instance mode
  bot.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: start.sh
  start.sh
Due: none

modified: cache/redis_client.py
  cache/redis_client.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Use Python-only Redis preflight ping and improve Redis diagnostics
  start.sh
Due: none

modified: scripts/redis_connectivity_check.sh
  scripts/redis_connectivity_check.sh
  start.sh
Due: none

modified: bot.py
  bot.py
  start.sh
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: cache_redis_client.py
  bot.py
  cache/redis_client.py
  start.sh
Due: check-terminology, check-schema-changes, risk-freeze-check

new file: REDIS_LOCK_EMERGENCY.md
  REDIS_LOCK_EMERGENCY.md
  REDIS_LOCK_RECOVERY_GUIDE.md
  REDIS_LOCK_RECOVERY_KIT.md
  REDIS_LOCK_VERIFICATION_CHECKLIST.md
  scripts/railway_redis_recovery.sh
Due: none

modified: bot.py
  REDIS_LOCK_RECOVERY_KIT.md
  REDIS_LOCK_VERIFICATION_CHECKLIST.md
  bot.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py
  bot.py
  bot/production_preflight.py
  bot/redis_env.py
  bot/redis_runtime.py
  cache/redis_client.py
  config_health_server.py
  scripts/clear_redis_locks.py
Due: check-terminology, check-schema-changes, risk-freeze-check

fix: Redis connection timeout graceful standby mode
  start.sh
Due: none

new file: REDIS_CONNECTION_DIAGNOSTIC_GUIDE.md
  REDIS_CONNECTION_DIAGNOSTIC_GUIDE.md
Due: none

modified: start.sh
  bot.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/redis_runtime.py
  bot.py
  bot/redis_runtime.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py
  bot.py
  bot/redis_runtime.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fail fast on non-recoverable Redis URL errors in lock and preflight paths
  bot.py
  bot/production_preflight.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add component-based Redis URL fallback resolution
  bot/redis_env.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Apply Redis TLS/lock startup hardening
  bot.py
  bot/execution_authority_context.py
  bot/redis_runtime.py
  cache/redis_client.py
Due: check-terminology, check-schema-changes, risk-freeze-check

mofified: Dockerfile
  Dockerfile
  bot.py
  start.sh
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/redis_runtime.py
  bot.py
  bot/redis_runtime.py
  cache/redis_client.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py
  bot.py
  bot/redis_runtime.py
  cache/redis_client.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py
  bot.py
  bot/execution_authority_context.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot.py modified: bot/bootstrap_state_machine.py modified: bot/execution_authority_context.py modified: bot/minium_notional_gate.py modified: bot/redis_runtime.py
  bot.py
  bot/bootstrap_state_machine.py
  bot/execution_authority_context.py
  bot/minimum_notional_gate.py
  bot/redis_runtime.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Harden Redis startup gating and diagnostics
  bot.py
  bot/broker_manager.py
  bot/redis_env.py
  bot/redis_runtime.py
  cache/redis_client.py
  config_health_server.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Add Redis proxy TLS confirmation and automatic internal/native fallback
  REDIS_RAILWAY_SETUP.md
  bot/redis_runtime.py
  scripts/redis_endpoint_probe.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: scripts/redis_endpoint_probe.py
  scripts/redis_endpoint_probe.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Use ECR mirror for Python base image to avoid Railway build metadata stalls
  Dockerfile
Due: none

modified: railway.json
  railway.json
Due: risk-freeze-check

Fix Redis TLS, bypass env vars, and execution_ready FSM deadlock
  bot.py
  bot/redis_env.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/trading_state_machine.py
  bot.py
  bot/trading_state_machine.py
Due: check-terminology, check-schema-changes, risk-freeze-check

modified: bot/broker_manager.py modified: bot/capital_authority.py modified: bot/execution_authority_context.py modified: bot /multi_account_broker_manager.py modified: bot/redis_env.py
  bot/broker_manager.py
  bot/capital_authority.py
  bot/execution_authority_context.py
  bot/multi_account_broker_manager.py
  bot/redis_env.py
Due: check-terminology, check-schema-changes, risk-freeze-check

Fix single-instance writer-lock startup and hydration diagnostics
  .env.example
  bot.py
  bot/execution_authority_context.py
  bot/redis_env.py
Due: check-terminology, check-schema-changes, risk-freeze-check
